{
  "presets": ["@babel/preset-env", "stage-2"],
  "plugins": [
    "syntax-async-functions",
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
