.table {
  position: relative;
  margin: 10px auto;
  width: 100%;
  table-layout: fixed;
  background: white;
  border-collapse: collapse;
  border: 1px solid $gray;

  &--overlay {
    background: fade-out($highlighted, 0.1);
    transition: none;
    cursor: grab;
    box-shadow: 0 0 15px 5px fade-out($gray, 0.5);
  }
}

.table__header {
  background: $green;

  * {
    color: white;
  }

  .table__row {
    border: none;
    user-select: none;
  }

  .table__cell {
    border: none;

    &[data-sort] {
      width: 110px;
      cursor: pointer;
      user-select: none;

      &[data-field="name"] {
        position: relative;
        width: $nameWidth;
        white-space: nowrap;
        text-overflow: ellipsis;

        &::before {
          // @hack: небольшой хак для обработки ховера на пустой ячейке заголовка
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: -20px;
          right: 100%;
          display: block;
          background: inherit;
        }
      }

      &[data-field="date"] {
        width: $dateWidth;
      }

      &:not([data-sort="NONE"]) {
        background: $dark-green;
      }

      &:hover {
        background: $dark-green;
      }
    }

    &--hightlighted {
      background: $dark-green;
    }
  }

  // фон для выделенных ячеек в зависимости от data-атрибута таблицы
  @for $i from 0 through 10 {
    &[data-sorted-column="#{$i}"] {
      & + .table__body .table__cell:nth-child(#{$i + 1}) {
        background: $highlighted;
      }
    }
  }
}

.table__row {
  &:first-of-type .table__cell {
    border-top: none;
  }
}

.table__cell {
  width: 110px;
  padding: 12px 20px 8px;
  vertical-align: center;
  transition: 0.2s;
  border-bottom: 1px solid $gray;
  border-top: 1px solid $gray;

  &--spacer {
    width: 20px;
    padding: 0;
    border-bottom: none;
    border-top: none;

    & + .table__cell {
      padding-left: 0;
    }
  }

  &--hightlighted {
    background: $highlighted;
  }

  &:nth-child(2) {
    width: $nameWidth;
  }

  &:nth-last-child(3) {
    width: $dateWidth;
  }

  &:nth-last-child(2) {
    // пустая колонка с кнопкой сортировки

    width: 30%;
    padding-right: 0;
    text-align: right;
    user-select: none;
  }
}
