.table {
  position: relative;
  margin: 10px auto;
  width: 100%;
  table-layout: fixed;
  background: white;
  border-collapse: collapse;
  border: 1px solid $gray;
}

.table__header {
  background: $green;

  * {
    color: white;
  }

  .table__row {
    border: none;
    user-select: none;
  }

  .table__cell {
    &[data-sort] {
      width: 110px;
      cursor: pointer;
      user-select: none;

      &[data-field="name"] {
        width: 250px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &[data-field="date"] {
        width: 160px;
      }

      &:not([data-sort="NONE"]) {
        background: $dark-green;
      }

      &:hover {
        background: $dark-green;
      }
    }
  }

  // фон для выделенных ячеек в зависимости от data-атрибута таблицы
  @for $i from 0 through 10 {
    &[data-sorted-column="#{$i}"] {
      & + .table__body .table__cell:nth-child(#{$i + 1}) {
        background: $highlighted;

        &::before {
          background: $highlighted;
        }
      }
    }
  }
}

.table__row {
  border-bottom: 1px solid $gray;

  &:last-child {
    .table__cell {
      @include remove-pseudo();
    }
  }
}

.table__cell {
  position: relative;
  z-index: 1;
  padding: 12px 20px 8px;
  vertical-align: center;
  transition: 0.2s;

  &:first-child {
  }

  &:last-child {
    // пустая колонка с кнопкой сортировки

    width: 30%;
    text-align: right;
    user-select: none;
  }
}
