@mixin visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@mixin hide-bottom-border($left: true, $width: 20px, $height: 1px) {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: $height * -1;
    display: block;
    width: $width;
    height: $height * 2;
    background: white;

    @if $left == true {
      left: 0;
    } @else {
      right: 0;
    }
  }
}

@mixin remove-pseudo() {
  &::before {
    content: none !important;
  }
  &:after {
    content: none !important;
  }
}
